body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#hide {
  display: none;
}

.main-page-body {
  background-image: url("https://i.imgur.com/dgGgiVN.jpg");
  background-size: cover;
}

h1, h2 {
  background:rgba(255,255,255, 0.7);
  width: fit-content;
  margin: auto;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.new-recipe {
  background-image: url("https://i.imgur.com/umglMOW.jpg");
  background-size: cover;
}

.add-recipe-form {
  background:rgba(239,239,240, 0.7);
  width: fit-content;
  margin: auto;
  font-size: 20px;
}

p {
  background:rgba(255,255,255, 0.7);
  width: fit-content;
  margin: auto;
  border-radius: 12px;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.ingredient-page {
  background-image: url("https://i.imgur.com/jvExiib.png");
  background-size: cover;
}

.ingredient-form {
  background:rgba(239,239,240, 0.7);
  width: fit-content;
  margin: auto;
  font-size: 20px;
}

h3 {
  background:rgba(255,255,255, 0.7);
  width: fit-content;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.list-group-item {
  width: 200px;
}

.recipe-index {
  background-image: url("https://i.imgur.com/mAOajpx.jpg");
  background-size: cover;
}

.recipe-list {
  background:rgba(255,255,255, 0.7);
  margin: auto;
}

.table {
  background:rgba(255,255,255);
}

.single-recipe-page {
  background-image: url("https://i.imgur.com/1oi7L1O.png");
}

#table-1 {
  width: 450px;
}

.comment-form {
  background:rgba(239,239,240, 0.7);
  width: fit-content;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

h5 {
  background:rgba(239,239,240, 0.7);
  width: fit-content;
  margin-top: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

h4 {
  background:rgba(239,239,240, 0.7);
  border-radius: 15px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}

.f {
  background: white;
}

#table-2 {
  margin-top: 5px;
  width: 375px;
}

#add-ingredient-form {
  background:rgba(239,239,240, 0.7);
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

