<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p>Welcome to <%= title %>
  </p>
  <ul>
    <% if (user) { %>
      <li><a href="/">Main</a></li>
      <li><a href="/recipe/new">Add Recipe</a></li>
      <li><a href="/ingredient/new">Add Ingredient</a></li>
      <li><a href="/logout">Log Out</a></li>
  </ul>

  
  <% } else { %>
    <li><a href="/auth/google">Log In</a></li>
    <% } %>
</body>

</html>