<!DOCTYPE html>
<html>

<head>
    <title>
        Add Recipe
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <ul>
        <% if (user) { %>
            <li><a href="/">Home</a></li>
            <li><a href="/private">Private Page</a></li>
            <li><a href="/logout">Log Out</a></li>
            
            
            <h1>Add Recipe</h1>
<form action="/recipe" method="POST">
  <label>Recipe Name:
    <input type="string" name="name">
  </label><br>
  <label>Prep Time:
    <input type="number" name="prepTime" placeholder="minutes to cook!">
  </label><br>
  <label>Ingredients:
    <input type="string" name="ingredients">
  </label><br>
  <input type="submit" value="Add Recipe">
</form>
            <% } else { %>
                <li><a href="/auth/google">Log In</a></li>
                <% } %>
    </ul>
</body>

</html>